<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Detail Barang</title>

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="css/style.css" rel="stylesheet" />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
      integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="col-lg-9" style="margin-left: 13%; margin-right:13%;">
        <div class="card mt-4 text-center" style="text-align:center;">
          <div style="text-align:center">
            <img
              class="card-img-top "
              src={{ detail_barang.0.3 }}
              style="width: 300px;height: 300px;margin-top:20px;"
            />
          </div>
          <div class="card-body">
            <h3 class="card-title">{{ detail_barang.0.1 }}</h3>
            <p>ID Barang: {{ detail_barang.0.0 }}</p>
            <p>Kondisi: {{ detail_barang.0.4 }}</p>
            <p>Lama Penggunaan: {{ detail_barang.0.5 }} tahun</p>
            <p>Pemilik/Penyewa: {{ detail_barang.0.6 }}</p>
            <article>
                </br>
                Info Barang   </br>

                {% for info in list_info_level_barang %}
                    <div>+{{ info.1 }}</div></br>
                    <div>Persen royalty: {{ info.3 }} (%)</div></br>
                    <div>Harga sewa: {{ info.2 }} (Rupiah/minggu) </div> </br>
                {% endfor %}
            </article>
          </br>
            <button type="button" class="btn btn-primary">Pesan</button>
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
              {% for review in list_review_barang %}
                <p>
                  {{ review.0 }}
                </p>
                <small class="text-muted">Posted on {{ review.1 }}</small>
                <hr />
              {% endfor %}
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-9 -->
    </div>
  </body>
</html>
