<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>FORM UPDATE BARANG {{ detail_data.0.0 }}</title>

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
		<link href="css/style.css" rel="stylesheet" />
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7" style="left:20%; right:20%;margin-top:5%;margin-bottom:5%;">
						<form action="/barang/update/barang" class=" form-horizontal border border-dark p-5">
                                 {% csrf_token %}
								<p class="h3 mb-4 text-center">FORM UPDATE BARANG ID : {{ detail_data.0.0 }}</p>
						        <label for="textInput">Id barang : {{ detail_data.0.0 }}</label></br>
								<input type="text" id="textInput" class="form-control mb-4" placeholder="Id barang" name="id_barang" value="{{ detail_data.0.0 }}" hidden>
						
								<label for="select">Nama item :</label>
									<select class="browser-default custom-select mb-4" id="select" name="nama_item" >
											<option value="{{ detail_data.0.1 }}" selected>{{ detail_data.0.1 }}</option>
                                            {% for nama_item in list_item %}
                                                <option value={{ nama_item.0 }}>{{ nama_item.0 }}</option>
                                            {% endfor %}
									</select>

								<label for="textInput">Warna :</label>
								<input type="text" id="textInput" class="form-control mb-4" placeholder="Warna" name="warna" value="{{ detail_data.0.2 }}">
						
								<label for="textInput">Url foto :</label>
								<input type="text" id="textInput" class="form-control mb-4" placeholder="Url foto" name="url_foto" value="{{ detail_data.0.3 }}">
						
								<label for="textInput">Kondisi : </label>
								<input type="text" id="textInput" class="form-control mb-4" placeholder="Kondisi" name="kondisi" value="{{ detail_data.0.4 }}">
						
								<label for="textInput">Lama penggunaan : </label>
								<input type="text" id="textInput" class="form-control mb-4" placeholder="Lama penggunaan (bulan)" name="lama_penggunaan" value="{{ detail_data.0.5 }}">
						
								<label for="select">Pemilik/penyewa : </label>
									<select class="browser-default custom-select mb-4" id="select" name="nama_penyewa" >
											<option value="{{ detail_data.0.6 }}" selected>{{ detail_data.0.6 }}</option>
											{% for nama_pengguna in list_pengguna %}
                                                <option value="{{ nama_pengguna.0 }}">{{ nama_pengguna.0 }}</option>
                                            {% endfor %}
									</select>
									<br>
									<br>
								<p class="font-weight-bold text-left">Info Barang</p>

								<p>&nbsp;+Bronze </p>
								<div class="row">
										<div class="col-md-6">
												<label for="textInput">Persen royalty : </label>
												<input type="text" id="textInput" class="form-control mb-4" placeholder="Persen royalty (%)" name="persen_bronze" value="{{ list_info_barang.0.3 }}">
										</div>
										<div class="col-md-6">
												<label for="textInput">Harga sewa : </label>
												<input type="text" id="textInput" class="form-control mb-4" placeholder="Harga sewa (Rupiah/minggu)" name="harga_bronze" value="{{ list_info_barang.0.2 }}">
										</div>
								</div>

								<p>	&nbsp;+Silver </p>
								<div class="row">
										<div class="col-md-6">
												<label for="textInput">Persen royalty : </label>
												<input type="text" id="textInput" class="form-control mb-4" placeholder="Persen royalty (%)" name="persen_silver" value="{{ list_info_barang.1.3 }}">
										</div>
										<div class="col-md-6">
												<label for="textInput">Harga sewa : </label>
												<input type="text" id="textInput" class="form-control mb-4" placeholder="Harga sewa (Rupiah/minggu)" name="harga_silver" value="{{ list_info_barang.1.2 }}">
										</div>
									</div>

								<p>&nbsp;+Gold </p>

								<div class="row">
										<div class="col-md-6">
												<label for="textInput">Persen royalty : </label>
												<input type="text" id="textInput" class="form-control mb-4" placeholder="Persen royalty (%)" name="persen_gold" value="{{ list_info_barang.2.3 }}">
										</div>
										<div class="col-md-6">
												<label for="textInput">Harga sewa : </label>
												<input type="text" id="textInput" class="form-control mb-4" placeholder="Harga sewa (Rupiah/minggu)" name="harga_gold"value="{{ list_info_barang.2.2 }}">
										</div>
									</div>
								<button class="btn btn-info my-4 btn-block" type="submit" formmethod="post">Submit</button>
                        </form>
        </div>
      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
