<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;url=/barang/" />
    <title>Redirect in 3 second .... </title>
</head>
<body>
    <p>{{ operation }} is SUCCESS</p>
    <p>Redirect in 3 second ....</p>
    <a href="/barang">
        Click here if page not redirect
    </a>
</body>
</html>