<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>DAFTAR BARANG</title>

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="css/style.css" rel="stylesheet" />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
      integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
      crossorigin="anonymous"
    ></script>
    <!-- DataTables CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"
    />

    <!-- jQuery -->
    <script
      type="text/javascript"
      charset="utf8"
      src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"
    ></script>

    <!-- DataTables -->
    <script
      type="text/javascript"
      charset="utf8"
      src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>
  </head>
  <body>
    <div class="container-fluid">

    <!--Table-->
    <div style="margin-top:5%; margin-left: 5%; margin-right: 5%;">
    <table id="tablePreview" class="table table-hover" >
      <!--Table head-->
      <thead>
        <tr>
          <th>Id barang</th>
          <th>Nama Item</th>
          <th>Warna</th>
          <th>Kondisi</th>
          <th>Detail Barang</th>
          <th>Update/Delete</th>
          <th>Tandai Barang</th>
        </tr>
      </thead>
      <!--Table head-->
      <!--Table body-->
      <tbody>
        {% for barang in list_barang %}
            <tr>
                <th scope="row">{{barang.0}}</th>
                <td>{{ barang.1 }}</td>
                <td>{{ barang.2 }}</td>
                <td>{{ barang.4 }}</td>
                <td>
                    <a href="/barang/detail/{{ barang.0 }}" class="btn btn-info" role="button">Link Button</a>
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary" onclick="updateFunction({{ barang.0 }})">Update</button>
                    <button type="button" class="btn btn-danger" onclick="yesnoalertdelete({{ barang.0 }})">Delete</button>
                  </td>
                  <td>
                <div class="checkbox">
                  <input type="checkbox" value="" onchange="doalert(this)" />
                </div>
              </td>
            </tr>
        {% endfor%}
      </tbody>
      <!--Table body-->
    </table>
</div>
</br>


    <div id="showButtonPesan" >
        <button type="button"  style="margin-left: 50%;margin-bottom: 10px;" class="btn btn-primary">Pesan</button>
    </div>
    <!--Table-->
    </div>
    <script>
      $(document).ready(function() {
        $("#tablePreview").DataTable();
        $(".dataTables_length").addClass("bs-select");
      });
    </script>
    <script>
        $(document).ready(function(){
           $("#showButtonPesan").hide();
        });

        var counter = 0;
      function doalert(checkboxElem) {

          if (checkboxElem.checked) {
              counter++;
          } else {
              counter--;
          }
            console.log(counter);
            if (counter !== 0) {
              $("#showButtonPesan").show();
            }
            if (counter === 0){
              $("#showButtonPesan").hide();
            }
      }
      
      function yesnoalertdelete(id_barang) {
          var r = confirm("apakah benar ingin menghapus barang tersebut?");
          if(r==true) {
                window.location.href = "/barang/delete/"+id_barang;
          }
          else {

          }
      }

      function updateFunction(id_barang) {
          window.location.href = "/barang/form/update/"+id_barang;

      }
    </script>
  </body>
</html>
