{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<h3 class="text-center">Daftar Item</h3>
			<table class="table">
				<thead>
					<tr>
						<th>Nama Item</th>
						<th>Kategori</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for b in barang %}
					<tr>
						<td>{{ b.0 }}</td>
						<td>{{ b.1 }}</td>
						<td>
							<form action="{% url 'user:update' b.0 %}">
								<button type="submit" class="btn btn-success">Update</button>
							</form>
							<form action="{% url 'user:delete' b.0 %}">
								<button type="submit" class="btn btn-danger">Delete</button>
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-md-1">
		</div>
	</div>
{% endblock %}