{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<h3>
				FORM LOGIN
			</h3>
			<form role="form">
				<div class="form-group">
					<label for="exampleInputEmail1">
						Nomor KTP
					</label>
					<input type="text" class="form-control" id="exampleInputEmail1">
				</div>
				<div class="form-group">
					 
					<label for="exampleInputPassword1">
						email
					</label>
					<input type="email" class="form-control" id="exampleInputPassword1">
				</div>
				<button type="submit" class="btn btn-primary">
					Submit
				</button>
			</form>
		</div>
		<div class="col-md-1">
		</div>
	</div>
{% endblock %}