{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<h3>
				FORM LOGIN PENGGUNA
			</h3>
			<form action="{% url 'user:checkLogin' %}" method="POST">
			{% csrf_token %}
			{{ fill_form }}
			<button type="submit" class="btn btn-success" formmethod="post">Submit</button>
		</form>
		</div>
		<div class="col-md-1">
		</div>
	</div>
{% endblock %}