{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" />
		</div>
		<div class="col-md-9">
			<h3 class="text-center">
				{{ user.0.1 }}
			</h3>
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<br>
			<br>
			<dl>
				<dt>
					Nama Lengkap:
				</dt>
				<dd>
					{{ user.0.1 }}
				</dd>
				<dt>
					Email: 
				</dt>
				<dd>
					{{ user.0.2 }}
				</dd>
				<dt>
					Tanggal lahir:
				</dt>
				<dd>
					{{ user.0.3 }}
				</dd>
				<dt>
					Nomor telepon:
				</dt>
				<dd>
					{{ user.0.4 }}
				</dd>
			</dl>
		</div>
		<div class="col-md-1">
		</div>
	</div>
{% endblock %}