{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<p>Nama sekarang: {{up.0.0}}</p>
			<p>Deskripsi: {{up.0.1}}</p>
			<p>Usia Minimal: {{up.0.2}}</p>
			<p>Usia Maksimal: {{up.0.3}}</p>
			<p>Bahan: {{up.0.4}}</p>
		<form action="{% url 'user:updateItem' %}" method="POST">
			{% csrf_token %}
			{{ fill_form }}
			<button type="submit" class="btn btn-success" formmethod="post">Submit</button>
		</form>
		</div>
		<div class="col-md-1">
		</div>
	</div>
{% endblock %}