<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>FORM PENAMBAHAN BARANG</title>

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
		<link href="css/style.css" rel="stylesheet" />
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7" style="left:20%; right:20%;margin-top:5%;margin-bottom:5%;">
						<form action="/barang/post/new_barang" class=" form-horizontal border border-dark p-5">
                                 {% csrf_token %}
								<p class="h3 mb-4 text-center">FORM PENAMBAHAN BARANG</p>
						
								<label for="textInput">Id barang :</label>
								<input type="text" id="textInput" class="form-control mb-4" placeholder="Id barang" name="id_barang">
						
								<label for="select">Nama item :</label>
									<select class="browser-default custom-select mb-4" id="select" name="nama_item">
											<option value="" disabled="" selected="">Nama item</option>
                                            {% for nama_item in list_item %}
                                                <option value={{ nama_item.0 }}>{{ nama_item.0 }}</option>
                                            {% endfor %}
									</select>

								<label for="textInput">Warna :</label>
								<input type="text" id="textInput" class="form-control mb-4" placeholder="Warna" name="warna">
						
								<label for="textInput">Url foto :</label>
								<input type="text" id="textInput" class="form-control mb-4" placeholder="Url foto" name="url_foto">
						
								<label for="textInput">Kondisi : </label>
								<input type="text" id="textInput" class="form-control mb-4" placeholder="Kondisi" name="kondisi">
						
								<label for="textInput">Lama penggunaan : </label>
								<input type="text" id="textInput" class="form-control mb-4" placeholder="Lama penggunaan (bulan)" name="lama_penggunaan">
						
								<label for="select">Pemilik/penyewa : </label>
									<select class="browser-default custom-select mb-4" id="select" name="nama_penyewa">
											<option value="" disabled="" selected="">Pemilik/penyewa</option>
											{% for nama_pengguna in list_pengguna %}
                                                <option value="{{ nama_pengguna.0 }}">{{ nama_pengguna.0 }}</option>
                                            {% endfor %}
									</select>
									<br>
									<br>
								<p class="font-weight-bold text-left">Info Barang</p>

								<p>&nbsp;+Bronze </p>
								<div class="row">
										<div class="col-md-6">
												<label for="textInput">Persen royalty : </label>
												<input type="text" id="textInput" class="form-control mb-4" placeholder="Persen royalty (%)" name="persen_bronze">
										</div>
										<div class="col-md-6">
												<label for="textInput">Harga sewa : </label>
												<input type="text" id="textInput" class="form-control mb-4" placeholder="Harga sewa (Rupiah/minggu)" name="harga_bronze">
										</div>
								</div>

								<p>	&nbsp;+Silver </p>
								<div class="row">
										<div class="col-md-6">
												<label for="textInput">Persen royalty : </label>
												<input type="text" id="textInput" class="form-control mb-4" placeholder="Persen royalty (%)" name="persen_silver">
										</div>
										<div class="col-md-6">
												<label for="textInput">Harga sewa : </label>
												<input type="text" id="textInput" class="form-control mb-4" placeholder="Harga sewa (Rupiah/minggu)" name="harga_silver">
										</div>
									</div>

								<p>&nbsp;+Gold </p>

								<div class="row">
										<div class="col-md-6">
												<label for="textInput">Persen royalty : </label>
												<input type="text" id="textInput" class="form-control mb-4" placeholder="Persen royalty (%)" name="persen_gold">
										</div>
										<div class="col-md-6">
												<label for="textInput">Harga sewa : </label>
												<input type="text" id="textInput" class="form-control mb-4" placeholder="Harga sewa (Rupiah/minggu)" name="harga_gold">
										</div>
									</div>
								<button class="btn btn-info my-4 btn-block" type="submit" formmethod="post">Submit</button>
                        </form>
        </div>
      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
